{% set admin_path = 'users' %}

{% extends 'admin.base.html.j2' %}

{% block admincontent %}

<!-- Überschrift -->

    <div class="container-xl mt-3 mb-3">
        <p class="h3">Benutzer:</p>
    </div>

    <!-- Suchfeld -->

    <div class="container-xl mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="search" class="form-control" id="searchExtName" placeholder="Suche nach Name"
                onkeyup="searchExtName()">
        </div>
    </div>

    <!-- Tabelle -->

    <div class="container-xl">
        <table class="table table-striped" id="userlist">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-1">Admin?</th>
                    <th scope="col" class="col-1">Aktionen</th>
                </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{% if user.is_admin %}Ja{% else %}Nein{% endif %}</td>
                    <td>
                        <button title="Löschen" type="submit" class="btn btn-danger" {% if default_data.current_user.id != user.id %}onclick="delEntry('{{user.id}}')"{% else %}disabled{% endif %}>
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <!-- Deleting User -->
    <script>
    async function delEntry(id) {

        var entry = {
            id: id,
        };

        fetch(`${window.origin}/admin/users`, {
            method: "DELETE",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(() => {
            window.location.reload();
        })
    }
    </script>


    <!-- Searching JS -->

    <script>
        function searchExtName() {
            var filter = document.getElementById("searchExtName").value;
            var lines = document.getElementById("userlist").getElementsByTagName("tr");

            //for every entry except title bar, get extension and name
            for (i = 1; i < lines.length; i++) {

                var name = lines[i].getElementsByTagName("td")[1].textContent;

                filter = filter.toUpperCase()
                if (name.toUpperCase().includes(filter)) {
                    lines[i].style.display = "";
                } else {
                    lines[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}
