{% set admin_path = 'phonebook' %}

{% extends 'admin.base.html.j2' %}

{% block admincontent %}

<!-- Überschrift -->

    <div class="container-xl mt-3 mb-3">
        <p class="h3">gesamtes {{ default_data.event_name }}-Telefonbuch:</p>
    </div>

    <!-- Suchfeld -->

    <div class="container-xl mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="search" class="form-control" id="searchExtName" placeholder="Suche nach Rufnummer oder Name"
                onkeyup="searchExtName()">
        </div>
    </div>

    <!-- Tabelle -->

    <div class="container-xl">
        <table class="table table-striped" id="phonebook">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="col-1">Rufnummer</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-2">Info</th>
                    <th scope="col" class="col-1">Erstellt von</th>
                    <th scope="col" class="col-1">Öffentlich Sichtbar?</th>
                    <th scope="col" class="col-1">Aktionen</th>
                </tr>
            </thead>
            <tbody>

            {% for ext in exts %}
                <tr>
                    <td>{{ext.extension}}</td>
                    <td>{{ext.name}}</td>
                    <td>{{ext.info}}</td>
                    <td>{{ext.created_by}}</td>
                    <td>{% if ext.public %}Ja{% else %}Nein{% endif %}</td>
                    <td>
                        <button title="Löschen" type="submit" class="btn btn-danger" onclick="delEntry('{{ext.extension}}')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <!-- Deleting Number -->
    <script>
    async function delEntry(extension) {

        var entry = {
            extension: extension,
        };

        fetch(`${window.origin}/myextensions/`, {
            method: "DELETE",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(() => {
            window.location.reload();
        })
    }
    </script>


    <!-- Searching JS -->

    <script>
        function searchExtName() {
            var filter = document.getElementById("searchExtName").value;
            var lines = document.getElementById("phonebook").getElementsByTagName("tr");

            //for every entry except title bar, get extension and name
            for (i = 1; i < lines.length; i++) {

                var extension = lines[i].getElementsByTagName("td")[0].textContent;
                var name = lines[i].getElementsByTagName("td")[1].textContent;

                filter = filter.toUpperCase()
                if ( extension.toUpperCase().includes(filter) || name.toUpperCase().includes(filter) ) {
                    lines[i].style.display = "";
                } else {
                    lines[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}
