{% set path = 'admin' %}

{% extends 'base.html.j2' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-reception-4 me-1"></i>Admin-Bereich</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if admin_path == 'phonebook' %}active{% endif %}" href="/admin/phonebook">Telefonbuch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if admin_path == 'users' %}active{% endif %}" href="/admin/users">Benutzer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if admin_path == 'reservedextensions' %}active{% endif %}" href="/admin/reservedextensions">Reservierte Rufnummer-Bereiche</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block admincontent %}{% endblock %}

{% endblock %}
