{% set admin_path = 'users' %}

{% extends 'admin.base.html.j2' %}

{% block admincontent %}

<!-- Überschrift -->

    <div class="container-xl mt-3 mb-3">
        <p class="h3">Benutzer:</p>
    </div>

    <!-- Suchfeld -->

    <div class="container-xl mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            <input type="search" class="form-control" id="searchExtName" placeholder="Suche nach Name"
                onkeyup="searchExtName()">
        </div>
    </div>

    <!-- Tabelle -->

    <div class="container-xl">
        <table class="table table-striped" id="userlist">
            <thead>
                <tr class="table-primary">
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-2">Name</th>
                    <th scope="col" class="col-1">Admin?</th>
                    <th scope="col" class="col-1">Aktionen</th>
                </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{% if user.is_admin %}Ja{% else %}Nein{% endif %}</td>
                    <td>
                        <button title="Als dieser Benutzer anmelden" type="submit" class="btn btn-secondary" {% if default_data.current_user.id != user.id %}onclick="loginAs('{{user.id}}')"{% else %}disabled{% endif %}>
                            <i class="bi bi-person-up"></i>
                        </button>
                        <button title="Passwort zurücksetzen" type="submit" class="btn btn-primary" {% if default_data.current_user.id != user.id %}onclick="window.pwid = '{{user.id}}'; new bootstrap.Modal(document.getElementById('passwordResetModal')).show()"{% else %}disabled{% endif %}>
                            <i class="bi bi-key"></i>
                        </button>
                        {% if user.is_admin %}
                        <button title="Administratorrechte entfernen" type="submit" class="btn btn-warning" {% if default_data.current_user.id != user.id %}onclick="setAdmin('{{user.id}}', 0)"{% else %}disabled{% endif %}>
                            <i class="bi bi-person-lock"></i>
                        </button>
                        {% else %}
                        <button title="Administratorrechte hinzufügen" type="submit" class="btn btn-warning" {% if default_data.current_user.id != user.id %}onclick="setAdmin('{{user.id}}', 1)"{% else %}disabled{% endif %}>
                            <i class="bi bi-person-lock"></i>
                        </button>
                        {% endif %}
                        <button title="Löschen" type="submit" class="btn btn-danger" {% if default_data.current_user.id != user.id %}onclick="delEntry('{{user.id}}')"{% else %}disabled{% endif %}>
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <!-- Passwort Reset Dialog -->
    <div class="modal fade" id="passwordResetModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="passwordResetModalLabel">Passwort zurücksetzen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <!-- User actions -->
    <script>
    async function delEntry(id) {

        var entry = {
            id: id,
        };

        fetch(`${window.origin}/admin/users`, {
            method: "DELETE",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then((e) => {
            if (e.status == 200) {
                window.location.reload();
            } else {
                e.text().then((text) => {
                    alert(text);
                });
            }
        })
    }

    async function loginAs(id) {
        
        var entry = {
            id: id,
            action: "impersonate",
        };

        fetch(`${window.origin}/admin/users`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(() => {
            window.location.assign("/myextensions");
        })
    }
    
    async function setAdmin(id, value) {
        
        var entry = {
            id: id,
            value: value,
            action: "set_admin",
        };

        fetch(`${window.origin}/admin/users`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(() => {
            window.location.reload();
        })
    }
    </script>


    <!-- Searching JS -->

    <script>
        function searchExtName() {
            var filter = document.getElementById("searchExtName").value;
            var lines = document.getElementById("userlist").getElementsByTagName("tr");

            //for every entry except title bar, get extension and name
            for (i = 1; i < lines.length; i++) {

                var name = lines[i].getElementsByTagName("td")[1].textContent;

                filter = filter.toUpperCase()
                if (name.toUpperCase().includes(filter)) {
                    lines[i].style.display = "";
                } else {
                    lines[i].style.display = "none";
                }
            }
        }
    </script>

{% endblock %}
