<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="/static/bootstrap-icons.min.css">

    <title>EDA DECT</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="bi bi-reception-4 me-1"></i>EDA @ {{ default_data.event_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if path == 'phonebook' %}active{% endif %}" href="/phonebook">Telefonbuch</a>
                    </li>
                    <!-- Login/Logout -->
                    {% if default_data.current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if path == 'myextensions' %}active{% endif %}" href="/myextensions">Meine Rufnummern</a>
                    </li>
                    {% if default_data.current_user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link {% if path == 'admin' %}active{% endif %}" href="/admin/">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">{{default_data.current_user.username}} &middot; Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Bootstrap JS -->

    <script src="/static/bootstrap.min.js"></script>
</body>

</html>
