{% set path = 'myextensions' %}

{% extends 'base.html.j2' %}

{% block content %}

<!-- Überschrift -->

<div class="container-xl mt-3 mb-3">
    <p class="h3">Meine Rufnummern</p>
</div>


{% if infobox_content %}
<div class="container-xl mt-3 mb-3">
  <div class="alert alert-info" role="alert">
    {{ infobox_content | replace('\n', '<br>') | safe }}
  </div>
</div>
{% endif %}


<!-- Übersicht -->

<div class="container-xl mt-3 mb-3">
    <p class="h5">Übersicht</p>
</div>

<!-- Tabelle -->

<div class="container-xl">
    <table class="table table-striped align-middle" id="phonebook">
        <thead>
            <tr class="table-primary">
                <th scope="col" class="col-1">Name</th>
                <th scope="col" class="col-1">Rufnummer</th>
                <th scope="col" class="col-1">DECT-Token</th>
                <th scope="col" class="col-1">SIP-Passwort</th>
                <th scope="col" class="col-1">Info</th>
                <th scope="col" class="col-1">Löschen</th>

            </tr>
        </thead>
        <tbody>

        {% for ext in exts %}
            <tr>
                <td>{{ ext.name | e }}</td>
                <td>{{ ext.extension | e }}</td>
                <td>{{ ext.token | e | format_token }}</td>
                <td>{{ ext.password | e }}</td>
                <td>{{ ext.info | e }}</td>
            <td>
                    <button title="Löschen" type="submit" class="btn btn-danger" onclick="delEntry('{{ext.extension | e}}')">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<!-- Neue Rufnummer -->

<div class="container-xl mt-3 mb-3">
    <p class="h5">Neue Rufnummer anlegen</p>
</div>
<div class="container-xl">
    <div class="row align-items-start">
        <div class="input-group">
            <label for="extension" class="input-group-text"><i class="bi bi-telephone"></i></label>
            <input type="tel" name="extension" class="form-control" id="extension" placeholder="Rufnummer 4-Digits" onkeyup=convert()>
        </div>
        <div class="input-group mt-2">
            <label for="name" class="input-group-text"><i class="bi bi-person"></i></label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="input-group mt-2">
            <label for="info" class="input-group-text"><i class="bi bi-info-circle"></i></label>
            <input type="text" name="info" class="form-control" id="info" placeholder="Info">
        </div>
        <div class="input-group mt-2">
            <label for="public" class="input-group-text"><i class="bi bi-eye"></i></label>
            <span class="input-group-text form-control">Show this extension in the public phonebook</span>
            <div class="input-group-text">
                <input class="form-check-input mt-0" name="pulic" id="public" type="checkbox" checked>
            </div>

        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success" onclick="addEntry()">
                <i class="bi bi-caret-right-fill me-2"></i>Nummer anlegen</button>
        </div>
    </div>
</div>


{% if default_data.show_voucher == 'True' %}
<!-- Voucher einlösen -->

<div class="container-xl mt-3 mb-3">
    <p class="h5">Voucher einlösen</p>
</div>

<div class="container-xl">
    <div class="row align-items-start">
        <div class="input-group">
            <label for="extension" class="input-group-text"><i class="bi bi-braces"></i></label>
            <input type="text" name="voucher" class="form-control" id="voucher" placeholder="Voucher">
        </div>

        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success" onclick="useVoucher()">
            <i class="bi bi-caret-right-fill me-2"></i>Voucher einlösen</button>
        </div>
    </div>
</div>
{% endif %}

<!-- Delete Entry JS -->

<script>
    async function delEntry(extension) {

        var entry = {
            extension: extension,
        };

        fetch(`${window.origin}/api/v1/DeleteUserExtension`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(() => {
            window.location.reload();
        })
    }
</script>


<script>
    async function addEntry() {
        var extension = document.getElementById("extension");
        var name = document.getElementById("name");
        var info = document.getElementById("info");
        var public = document.getElementById("public");

        var entry = {
            extension: extension.value,
            name: name.value,
            info: info.value,
            public: public.checked
        };

        fetch(`${window.origin}/api/v1/CreateUserExtension`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then((e) => {
            if (e.status == 200) {
                window.location.reload();
            } else {
                e.text().then((text) => {
                    alert("extension can't be added: " + text);
                });
            }
        })
    }


    async function useVoucher() {
        var voucher = document.getElementById("voucher");

        var entry = {
            voucher: voucher.value
        };

        fetch(`${window.origin}/api/v1/ClaimExtensionByVoucher/`, {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(entry),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then((e) => {
            if (e.status == 200) {
                window.location.reload();
            } else {
                e.text().then((text) => {
                    alert("voucher not accepted: " + text);
                });
            }
        })
    }

  function vanityConvert(extension){
    extension = extension.replaceAll(/[abc]/gi,"2");
    extension = extension.replaceAll(/[def]/gi,"3");
    extension = extension.replaceAll(/[ghi]/gi,"4");
    extension = extension.replaceAll(/[jkl]/gi,"5");
    extension = extension.replaceAll(/[mno]/gi,"6");
    extension = extension.replaceAll(/[pqrs]/gi,"7");
    extension = extension.replaceAll(/[tuv]/gi,"8");
    extension = extension.replaceAll(/[wxyz]/gi,"9");
    return extension;
  }

  function convert(){
    document.getElementById("extension").value = vanityConvert(document.getElementById("extension").value);
  }

</script>


{% endblock %}
